<div 
  draggable="true"
  (dragover)="handleDragover($event)"
  (drop)="handleDrop($event)"
  (dragstart)="handleDragstart($event)"
>
<form>
  <input
    type="text" 
    placeholder="Unnamed task" 
    [value]="task.title" 
    (input)="handleInput($event)"
    (keydown)="handleKeydown($event)"
    [class.done]="task.isDone"
  />
<div class="col-2">{{ task.pomosDone }}</div>
<button (click)="remove()">Delete</button>
<button (click)="timer.startProgress(task)" *ngIf="timer.onHalt || timer.restingUp">Start Progress</button>
<button (click)="timer.switchProgress(task)" *ngIf="canSwitch">Switch Progress</button>
