<div>
  <p class="timer">
  {{ timer.mins | doubleDigit }}:{{ timer.secs | doubleDigit }}
  </p>
  <p class="message" *ngIf="timer.inProgress">Paused: <strong>{{ timer.currentTask }}</strong></p>
  <p class="message" *ngIf="timer.paused">Paused: <strong>{{ timer.currentTask }}</strong></p>
  <p class="message" *ngIf="timer.restingUp">Rest up, yo!</p>
  <p class="message" *ngIf="timer.onHalt">Watcha wanna do?</p>
  <div class="buttons">
    <pause-button style="margin-right: 5px" (click)='timer.pause()' *ngIf="timer.inProgress">Pause</pause-button>
    <play-button style="margin-right: 5px" (click)='timer.continue()' *ngIf="timer.paused">Start</play-button>
    <stop-button (click)='timer.reset()' *ngIf="! timer.onHalt">Reset</stop-button>
  <div>
</div>